/**********Tag Selector**********/
img{
    height: 250px;
}
h2{
    text-align: center;
}
.start a{
    color: white;
    text-decoration: none;
}
.start a:hover{
    text-decoration: none;
    color: whitesmoke;
}
/**********Class Selector**********/
.title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}
.centerBtn{
    text-align: center;
   
}
.start{
    padding: 10px;
    width: 150px;
    height: 80px;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    font-size: 28px;
    background-color: rgb(98, 138, 38);
    border: 3px  solid white;
    border-radius: 20px;
}